{% extends "layouts/base.html" %}

{% block title %}Mission Detail{% endblock %}

{% block content %}
<div class="content">
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <h2>Mission Detail</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <td>{{ mission.mission_id }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ mission.status }}</td>
        </tr>
        <tr>
            <th>Assets</th>
            <td>
                <ul>
                    {% for asset in mission.asset.all %}
                        <li>{{ asset.asset_name }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Vulnerability</th>
            <td>{{ mission.vulnerability.vuln_name }}</td>
        </tr>
        <tr>
            <th>Priority</th>
            <td>{{ mission.priority }}</td>
        </tr>
        <tr>
            <th>Due Date</th>
            <td>{{ mission.due_date }}</td>
        </tr>
        <tr>
            <th>Created Date</th>
            <td>{{ mission.created_date }}</td>
        </tr>
    </table>
    {% if 'Owner' in user_roles or user.is_superuser %}
        <a href="{% url 'assign_mission' mission.mission_id %}" class="btn btn-primary">Assign to Remediator</a>
    {% endif %}
    {% if mission.status == 'Assigned' and 'Remediator' in user_roles or mission.status == 'Assigned' and user.is_superuser %}
        <a href="{% url 'start_remediation' mission.mission_id %}" class="btn btn-primary">Start Remediation</a>
    {% endif %}
</div>
{% endblock %}
