{% extends "layouts/base.html" %}

{% block title %}Mission Detail{% endblock %}

{% block content %}
<div class="content">
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <h2>Mission Detail</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <td>{{ mission.mission_id }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ mission.status }}</td>
        </tr>
        <tr>
            <th>Assets</th>
            <td>
                <ul>
                    {% for asset in mission.asset.all %}
                        <li>{{ asset.asset_name }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Vulnerability Name</th>
            <td>{{ mission.vulnerability.vuln_name }}</td>
        </tr>
        <tr>
            <th>Vulnerability Type</th>
            <td>{{ mission.vulnerability.vuln_type }}</td>
        </tr>
        <tr>
            <th>Vulnerability Description</th>
            <td>{{ mission.vulnerability.vuln_description }}</td>
        </tr>
        <tr>
            <th>Vulnerability CVE</th>
            <td>{{ mission.vulnerability.cve }}</td>
        </tr>
        <tr>
            <th>Vulnerability source</th>
            <td>{{ mission.vulnerability.source }}</td>
        </tr>
        <tr>
            <th>Vulnerability Severity </th>
            <td>{{ mission.priority }}</td>
        </tr>
        <tr>
            <th>Vulnerability risk</th>
            <td>{{ mission.vulnerability.risk}}</td>
        </tr>
        {% if is_owner_of_affected_assets or user.is_superuser %}
        <tr>
            <th>Vulnerability reported_by</th>
            <td>{{ mission.vulnerability.reported_by }}</td>
        </tr>
        <tr>
            <th>Vulnerability assigned_to</th>
            <td>{{ mission.vulnerability.assigned_to }}</td>
        </tr>
        <tr>
            <th>Vulnerability verified_by</th>
            <td>{{ mission.vulnerability.verified_by }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Created Date</th>
            <td>{{ mission.created_date }}</td>
        </tr>
    </table>
    {% if is_owner_of_affected_assets and mission.status == 'Reported' or user.is_superuser and mission.status == 'Reported' %}
        <a href="{% url 'assign_mission' mission.mission_id %}" class="btn btn-primary">Assign to Remediator</a>
    {% endif %}

    {% if mission.status == 'Assigned' and 'Remediator' in user_roles or mission.status == 'Assigned' and user.is_superuser %}
    <a href="{% url 'start_remediation' mission.mission_id %}" class="btn btn-primary">Start Remediation</a>
    {% endif %}

    {% if mission.status == 'In Remediation' and 'Remediator' in user_roles or mission.status == 'In Remediation' and user.is_superuser %}
    <a href="{% url 'ending_remediation' mission.mission_id %}" class="btn btn-primary">End Remediation</a>
    {% endif %}

    {% if is_owner_of_affected_assets or user.is_superuser %}
        <a href="{% url 'close_mission' mission.mission_id %}" class="btn btn-primary">End Mission</a>
    {% endif %}
    
    {% if mission.status == 'Remediated' and 'Verifier' in user_roles or mission.status == 'Remediated' and user.is_superuser %}
        <a href="{% url 'start_verification' mission.mission_id %}" class="btn btn-primary">Start verfication</a>
    {% endif %}

    {% if mission.status == 'In Verification' and 'Verifier'  in user_roles and mission.vulnerability.verified_by == user or mission.status == 'In Verification' and user.is_superuser %}
        <a href="{% url 'ending_verification' mission.mission_id %}" class="btn btn-primary">End the verfication</a>
    {% endif %}
</div>
{% endblock %}
