<div class="sidebar" style="color:blue">
    <div class="sidebar-wrapper" >
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                N+
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                OneTrack
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href={% url 'mission_list' %}>
                    <i class="tim-icons icon-bullet-list-67"></i>
                    <p>Missions</p>
                </a>
            </li>

            <li>
                <a href={% url 'create_mission' %}>
                    <i class="tim-icons icon-simple-add"></i>
                    <p>New Mission</p>
                </a>
            </li>

            {% comment %} <li class="{% if request.resolver_match.url_name == 'report_vulnerability' %}active{% endif %}">
                <a href={% url 'report_vulnerability' %}>
                    <i class="tim-icons icon-alert-circle-exc"></i>
                    <p>Reporting</p>
                </a>
            </li> {% endcomment %}

            <li>
                <a href={% url 'asset_list' %}>
                    <i class="icon-alert-circle-exc"></i>
                    <p>Assets</p>
                </a>
            </li>

            <li>
                <a href={% url 'metrics_dashboard' %}>
                    <i class="tim-icons icon-chart-bar-32"></i>
                    <p>Metrics</p>
                </a>
            </li>

            <li>
                <a href={% url 'search_similar_vulnerabilities' %}>
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Recommandations</p>
                </a>
            </li>

            {% if user.is_superuser %}
            <li>
                <a href="{% url 'assign_asset_owner' %}">
                    <i class="tim-icons icon-settings-gear-63"></i>
                    <p>Asset owner</p>
                </a>
            </li>
            {% endif %}
            {% if user.is_superuser %}
            <li>
                <a href="{% url 'admin:index' %}">
                    <i class="tim-icons icon-settings-gear-63"></i>
                    <p>Administration</p>
                </a>
            </li>
            {% endif %}
            
            <li>
                <a href="{% url 'login' %}">
                    <i class="tim-icons icon-button-power"></i>
                    <p>Logout</p>
                </a>
            </li>
            
            {% comment %} <li>
                <a href={% url 'vulnerability_list' %}>
                    <i class="icon-alert-circle-exc"></i>
                    <p>Vulnerabilities</p>
                </a>
            </li> {% endcomment %}
            
            {% comment %}      
            <li class="{% if 'notifications' in segment %} active {% endif %}">
                <a href="/notifications.html">
                    <i class="tim-icons icon-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li> 
            {% endcomment %}

            {% comment %} 
            <li class="{% if 'index' in segment %} active {% endif %}">
                <a href="/">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Tracking</p>
                </a>
            </li>
            {% endcomment %}
        </ul>
    </div>
</div>
